NET "clock" LOC = "b8";
NET "sdata" LOC = "b9";
NET "test_mode" LOC = "l3";
NET "txd" LOC = "b2";
NET "cs" LOC = "a9";
NET "sclk200Khz" LOC = "a10";
NET "selecto<0>" LOC = "n3";
NET "selecto<1>" LOC = "e2";
NET "tx_start" LOC = "g1";
#NET "leds<7>" LOC = "g1";
#NET "leds<6>" LOC = "p4";
#NET "leds<5>" LOC = "n4";
#NET "leds<4>" LOC = "n5";
#NET "leds<3>" LOC = "p6";
#NET "leds<2>" LOC = "p7";
#NET "leds<1>" LOC = "m11";
#NET "leds<0>" LOC = "m5";
